body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: black;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('img/gtrBG.jpg');
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding-top: 1rem;
}
.nissanLogo img {
    width: 100px;
}
.headerText {
    display: flex;
    gap: 3rem;
}
.headerText h3 {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .headerText h3:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .headerText h3::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .headerText h3:hover::before {
    transform: scaleX(1);
  }
.accountSearch {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.accountSearch .fas {   
    transition: all 0.5s ease;
    font-size: 1.5rem;
}
.accountSearch .fas:hover {
    cursor: pointer;
    color: gray;
}
.accountFlex {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.accountFlex:hover {
    cursor: pointer;
}
.accountFlex h4 {
    font-weight: 400;
}

.allNew {
    color: white;
    text-align: center;
    margin-top: 4rem;
    font-size: 2rem;
}
.allNew .lighter {
    font-weight: lighter;
}
.allNew .bolder {
    font-weight: bolder;
}
.allNew h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.specsSection {
    padding-top: 3rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
}
.specsPic img {
    width: 550px;
}
.specsPic h2 {
    font-size: 2rem;
    width: 550px;
    padding-top: 1rem;
    color: white;
}
.specsPic h4 {
    color: rgb(171, 171, 171);
    font-size: 1.2rem;
    width: 550px;
}
.btnLearn {
    color: white;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bolder;
    margin-top: 1rem;
    transition: all 0.5s ease;
    border: 2px solid rgb(231, 52, 52);
    background-color: black;
}
.btnLearn:hover {
    cursor: pointer;
    color: rgb(192, 192, 192);
}

.lineSplit {
    background-color: black;
}
.linePic {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.linePic hr {
    flex-grow: 1;
    background-color: #eb0000;
    height: 13px;
    transform: skew(-35deg);
    border: none;
    margin: 60px;
}


.linePic img {
    width: 100px;
}

.viewInventory {

}

.viewText {
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.viewText h2 {
    color: white;
}
.viewText input {
    background: none;
    border: none;
    border-bottom: 1px solid #999;
    font-family: MBCorpoS,Arial,sans-serif;
    padding: 0 0 4px;
    transition: border-bottom .15s ease;
    color: white;
    width: 18%;
}

.btnFlex {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.inputBox {
    flex: 1;
    
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.btnFlex .btnSubmit {
    border: none;
    background-color: #eb0000;
    color: white;
    padding: 10px;
    border-radius: 2px;
    font-weight: bold;
    
}

.btnSubmit:hover {
    cursor: pointer;
    background-color: #ff3232;
}

.gtrVid video {
    width: 100%;
    object-fit: cover;
    height: 800px;
}

.infoBtn {
    text-align: center;
}
.infoBtn button {
    margin: 20px;
    font-size: 1.5rem;
}

.historySection {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(img/gtrblack.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
    margin: 50px;
    border: 2px solid #eb0000;
}

.historyFlex {
    text-align: start;
    margin-left: 4rem;
}
.historyFlex h3 {
    width: 30%;
}

.historyFlex h3 {
    color: white;
    font-size: 2rem;
}

.historyFlex img {
    width: 1200px;

}