* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('img/gtrBG.jpg');
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding-top: 2rem;
}
.nissanLogo img {
    width: 100px;
}
.headerText {
    display: flex;
    gap: 3rem;
}
.headerText h3 {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .headerText h3:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .headerText h3::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .headerText h3:hover::before {
    transform: scaleX(1);
  }
.accountSearch {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.accountSearch .fas {   
    transition: all 0.5s ease;
    font-size: 1.5rem;
}
.accountSearch .fas:hover {
    cursor: pointer;
    color: gray;
}
.accountFlex {
    display: flex;
    gap: .5rem;
}
.accountFlex:hover {
    cursor: pointer;
}
.accountFlex h4 {
    font-weight: 400;
}

.allNew {
    color: white;
    text-align: center;
    margin-top: 4rem;
    font-size: 2rem;
}
.allNew .lighter {
    font-weight: lighter;
}
.allNew .bolder {
    font-weight: bolder;
}
.allNew h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.specsSection {
    padding-top: 3rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: space-around;
    
}
.specsPic img {
    width: 550px;
}
.specsPic h2 {
    font-size: 2rem;
    width: 550px;
    padding-top: 1rem;
}
.specsPic h4 {
    color: rgb(87, 86, 86);
    font-size: 1.2rem;
    width: 550px;
}
.btnLearn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bolder;
    margin-top: 1rem;
    transition: all 0.5s ease;
}
.btnLearn:hover {
    cursor: pointer;
    color: rgb(192, 192, 192);
}

.gtrVid video {
    width: 100%;
    object-fit: cover;
    height: 800px;
}

.infoBtn {
    text-align: center;
}
.infoBtn button {
    margin: 20px;
    font-size: 1.5rem;
}

.carChanger {
    text-align: center;
    margin-top: 5rem;
    background-color: rgb(233, 233, 233);
    margin: 20px;
    padding-bottom: 2rem;
}
.carTitle {
    padding-top: 2rem;
}
.carTitle h2 {
    font-size: 3rem;
}
.carTitle h4 {
    margin-top: 1rem;
    font-size: 1.3rem;
    color: rgb(87, 86, 86);
}
.carChoices img {
    width: 600px;
}
